.articleCardContainer {
  background-color: #ffe0a3;
  width: 265px;
  height: 235px;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px;
}
.articleCardContainer h3 {
  width: 230px;
  /* font-size: 20px; */
  font-weight: 800;
}
.pictiresBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.pictiresBlock span {
  font-size: 14px;
  font-weight: 800;
  object-fit: cover;
}
.image {
  width: 125px;
  height: 132px;
  object-fit: cover;
  border-radius: 8px;
}
