.container {
  background-color: aquamarine;
  width: min(48%, 520px);
  height: 160px;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.textBlock {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title {
  width: 200px;
}
.image {
  width: 205px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  padding: 5px;
  border-radius: 10px;
}
