.container {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  height: 620px;
  margin: 0 auto;
}

.content {
  width: 720px;
  height: 512px;
  background-color: #ff9494;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px -2px 8px 8px #ff9494;
}

.title {
  font-size: 30px;
  width: 90%;
  font-weight: 800;
  text-align: center;
}
.questionNum {
  font-size: 20px;
  font-weight: 600;
}
.image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  /* object-position: top; */
  border-radius: 10px;
}

/* @media (max-width: 320px) {
  .container {
    width: 100%;
  }
  .content {
    width: 250px;
    height: 300p;
  }
  .image {
    width: 150px;
    height: 100px;
    object-fit: cover;
  
    border-radius: 10px;
  }
  .title {
    font-size: 20px;
    width: 90%;
    font-weight: 800;
    text-align: center;
  }
} */
